<div class="book-card" (click)="navigateToBookDetail()">
    <div class="book-image">
      <img [src]="book.bookImage" alt="Book Image" />
    </div>
  
    <div class="book-info">
      <div class="book-title">{{ book.bookName }}</div>
      <div class="book-author">by {{ book.author }}</div>
  
      <div class="book-rating">
        <label class="rating-value">4.5</label>
        <span class="material-icons rating-icon">star_outline</span>
        <label class="rating-count">(20)</label>
      </div>
  
      <div class="book-price">Rs.{{ book.price }}</div>
    </div>
  </div>
  