<div class="top-nav-container">
    <mat-toolbar class="toolbar">
      <div class="logo-name">
        <div class="image">
          <img src="../../assets/bookstore.png" alt="open book" width="80" height="52" />
        </div>
      </div>
      <div class="search">
        <button mat-icon-button class="search-button">
          <mat-icon>search</mat-icon>
        </button>
        <input matTooltip="Search" placeholder="Search" class="input" />
      </div>
      <div class="icons">
        <button mat-icon-button matTooltip="Profile">
          <mat-icon class="mat-icon-profile" matBadgeColor="primary" matBadgeSize="small">account_circle</mat-icon>
        </button>
        <div id="cart">
          <button (click)="goToCart()" mat-icon-button matTooltip="Cart">
            <mat-icon class="mat-icon-cart" matBadgeColor="primary" matBadgeSize="small">add_shopping_cart</mat-icon>
          </button>
        </div>
      </div>
    </mat-toolbar>
  </div>
  
