<div *ngFor="let item of cartItems" class="view-book-container">
  
    <div class="book-image-container">
      <img [src]="item.bookImage" alt="{{ item.title }}" class="book-image" />
    </div>
  
    
    <div class="book-details">
      <h2>{{ item.bookName }}</h2>
      <h4>by {{ item.author }}</h4>
  
      
      <div class="book-price">
        <strong>Rs. {{ item.price }}</strong>
      </div>
      
    
      <div class="book-discount-price">
        <strong>Rs. {{ item.discountPrice }}</strong>
      </div>
  
      <div class="action-container">
        <div class="quantity-container">
          <button mat-icon-button color="primary" aria-label="Decrease quantity" class="quantity-btn">
            <mat-icon>remove</mat-icon>
          </button>
          <span class="quantity">{{ item.quantityToBuy
          }}</span>
          <button mat-icon-button color="primary" aria-label="Increase quantity" class="quantity-btn">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <button mat-button color="warn" class="remove-btn">Remove</button>
      </div>
  
      <div class="place-order-container">
        <button mat-raised-button color="primary" class="place-order-btn">Place Order</button>
      </div>
    </div>
</div>
  