<div class="view-book-container">
    <div class="book-image-container">
      <img src="../../assets/atomic habit.jpeg" alt="atomic habit" class="book-image" />
    </div>
  
    <div class="book-details">
      <h2>Atomic Habit</h2>
      <h4>by James Clear</h4>
      <div class="book-price">
        <strong>Rs. 500</strong>
      </div>
      <div class="book-discount-price">
        <strong>Rs. 450</strong>
      </div>
  
      <div class="action-container">
        <div class="quantity-container">
          <button mat-icon-button class="quantity-btn">-</button>
          <span class="quantity">1</span>
          <button mat-icon-button class="quantity-btn">+</button>
        </div>
        <button mat-button color="warn" class="remove-btn">Remove</button>
      </div>
      <div class="place-order-container">
        <button mat-raised-button color="primary" class="place-order-btn">Place Order</button>
      </div>
    </div>
    
  </div>
  
  
  