<div class="container">
  
    <div class="left-section">
      <img src="../../assets/book-store-login.png" alt="Login Image">
      <h3>ONLINE BOOK SHOPING</h3>
    </div>

    <div class="right-section">
      <mat-card>
        <div class="form-header">
          <a>LOGIN</a>
          <a routerLnk="/signup" class="signup">SIGNUP</a>
        </div>
  
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>First Name</mat-label>
          <input matInput type="text" required>
        </mat-form-field>
  
        
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" required>
        </mat-form-field>
        
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" required>
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" required>
          </mat-form-field>

        <div class="button-group">
          <button mat-flat-button color="primary">Login</button>
        </div>
      </mat-card>
    </div>
</div>
  
