<div class="view-book-container">
    <div class="book-image-container">
      <img [src]="book.bookImage" alt="{{ book.bookName }}" class="book-image" />
  
      <div class="action-buttons">
        <button class="btn add-to-bag" (click)="addToBag()" *ngIf="!isInBag">Add to Bag</button>
        <div *ngIf="isInBag" class="quantity-controls">
          <button (click)="decrementQuantity()">-</button>
          <span>{{ quantityToBuy }}</span>
          <button (click)="incrementQuantity()">+</button>
        </div>
        <button class="btn wishlist" (click)="toggleWishlist()">
          {{ isInWishlist ? 'Added to Wishlist' : 'Add to Wishlist' }}
        </button>
      </div>
    </div>
  
    <div class="book-details">
      <h2>{{ book.bookName }}</h2>
      <h4>by {{ book.author }}</h4>
      <p>{{ book.description }}</p>
      <div class="book-price">
        <strong>Price: Rs. {{ book.price }}</strong>
      </div>
      <div class="book-discount-price" *ngIf="book.discountPrice">
        <strong>Discount Price: Rs. {{ book.discountPrice }}</strong>
      </div>
      <h3>Reviews</h3>
      <div class="review-container">
        <div class="review-header">
          <img src="https://avatars.githubusercontent.com/u/104653559?v=4" alt="User Avatar" class="review-avatar">
          <div class="reviewer-info">
            <strong>Vaibhav Sukale</strong>
            <div class="rating">
              <span class="material-icons">star</span>
              <span class="material-icons">star</span>
              <span class="material-icons">star</span>
              <span class="material-icons">star</span>
              <span class="material-icons">star_half</span>
            </div>
            <span>(4.5/5)</span>
          </div>
        </div>
  
        <div class="review-body">
          <p>This book was an incredible read! The story was gripping and the characters were well-developed. I couldn't put it down!</p>
        </div>
      </div>
    </div>
  </div>
  